<nav class="nav-menu" >
  <ul>
    <li class="menu-item">
      <a class="menu-link" href="{% url "inicio" %}">Inicio</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="{% url "login" %}"> Iniciar sesion</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="{% url "registrar_asesor" %}"> Registrarse</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="{% url "registrar_cliente" %}"> Registrar cliente</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="{% url "registrar_producto" %}">Registrar producto</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="{% url "registrar_venta" %}">Registrar ventas</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="{% url "lista_productos" %}">Lista de productos</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="{% url "lista_ventas" %}">Lista de Ventas</a>
    </li>
  </ul>
</nav>