{% extends "layouts/app.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% load humanize %}


{% block title %}
    <title>Lista de productos</title>
{% endblock title %}


{% block lista_producto %}
    <h1>Listado de productos</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Valor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>${{ producto.valor|intcomma }}</td>
                    <td>
                        <a href="{% url 'editar_producto' producto.id %}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock lista_producto %}
